/*
---------------
RESET
---------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

/*
---------------
VARIABLES
---------------
*/

:root {
  --bg-main: #0084fd;
  --bg-secondary: #9792e4;
  --bg-box: #b5ddff;
  --bg-h1: #fdc15f;
  --bg-footer: #333333;
}

/*
---------------
COMMON
---------------
*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

button {
  all: unset;
  background-color: white;
  color: black;
  line-height: normal;
  border-radius: 1.5625rem;
  cursor: pointer;
}

.blue-btn {
  background-color: var(--bg-main);
  color: white;
}

.violet-btn {
  background-color: var(--bg-secondary);
  color: white;
}

.container {
  max-width: 310px;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 2.125rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.5rem;
  margin-bottom: 2.1875rem;
  color: var(--bg-main);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

section {
  line-height: 1.5625rem;
}

.box {
  padding: 2.1875rem 1.25rem;
  background-color: white;
  border-radius: 2.8125rem;
  color: black;
}

.circle-img {
  width: 12.5rem;
  height: 12.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1.25rem;
}

.circle-img img {
  margin-left: -25%;
  height: 100%;
  width: auto;
}

/*
---------------
HEADER
---------------
*/

header {
  background-color: var(--bg-main);
  color: white;
  font-size: 1.25rem;
  padding: 0.9375rem 0 1.25rem 0;
}

header .nav-bar {
  justify-content: space-between;
  align-items: center;
}

header .nav-bar ul {
  display: none;
}

header a {
  color: white;
}

header button {
  padding: 0.625rem 0.9375rem;
}

/*
---------------
MAIN
---------------
*/

/*first section*/

#first-sect {
  margin-bottom: 5rem;
  margin-top: 3.125rem;
}

#first-sect .container {
  flex-wrap: wrap;
  gap: 1.5625rem;
}

#first-sect .container > * {
  background-color: var(--bg-box);
  padding: 2.5rem 1.875rem;
  border-radius: 0.9375rem;
}

#first-sect .container > div:first-child {
  padding: 2.5rem 1.875rem 0 1.875rem;
}

#first-sect .container button {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0.625rem 2.5rem;
}

.fa-apple {
  margin-right: 0.3125rem;
}

#first-sect p {
  font-size: 1.125rem;
  font-weight: bold;
}

#first-sect .container .icon {
  margin-bottom: 1.875rem;
  color: var(--bg-main);
  font-size: 5rem;
}

/*second section*/

#second-sect,
#fourth-sect,
#sixth-sect {
  background-color: var(--bg-secondary);
  padding: 4.375rem 0 4.0625rem 0;
  color: white;
}

#second-sect h4 {
  margin-top: 5.625rem;
  margin-bottom: 3.75rem;
}

#second-sect p {
  margin-bottom: 2.1875rem;
}

#second-sect .box img {
  margin-bottom: 1.5625rem;
}

#second-sect .box p {
  font-size: 1.125rem;
  font-style: italic;
}

#second-sect .violet-btn {
  color: black;
  border-radius: 50%;
  padding: 0.625rem 0.9375rem;
}

/*third section*/

#third-sect {
  padding: 4.375rem 0;
}

#third-sect h3 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  color: var(--bg-secondary);
}

#third-sect p {
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
}

#third-sect .box {
  background-color: var(--bg-secondary);
  color: white;
  margin-bottom: 1.875rem;
  flex-direction: column;
  align-items: center;
}

#third-sect .box h5 {
  color: white;
}

/*fourth section*/

#fourth-sect h3 {
  margin-bottom: 4.375rem;
  line-height: 2.5rem;
}

#fourth-sect .box {
  padding: 2.8125rem 1.875rem;
  border-radius: 1.5625rem;
}

#fourth-sect .box h5 {
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

#fourth-sect h2,
#fourth-sect h5 {
  color: var(--bg-secondary);
}

#fourth-sect p {
  margin-bottom: 1.875rem;
}

#fourth-sect .box-container {
  flex-direction: column;
  gap: 1.875rem;
}

#fourth-sect .violet-btn {
  padding: 0.625rem 2.5rem;
}

/*fifth section*/

#fifth-sect {
  padding: 5.9375rem 0 5rem 0;
}

#fifth-sect p {
  margin-top: 3.75rem;
  font-size: 1.25rem;
}

#fifth-sect .container > div:last-child p {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  color: var(--bg-secondary);
  line-height: 2.1875rem;
  font-weight: bold;
}

#fifth-sect h2 {
  color: var(--bg-secondary);
}

#fifth-sect .violet-btn {
  padding: 0.625rem 0.9375rem;
}

#fifth-sect .violet-btn i {
  margin-right: 0.625rem;
}

#fifth-sect .container > div:last-child {
  position: relative;
}

#fifth-sect .circle-img {
  margin-top: 3.125rem;
}

#fifth-sect .circle-img img {
  margin-left: 0;
}

#fifth-sect .circle-img i {
  position: absolute;
  font-size: 3.125rem;
  top: 0;
  right: 7.5rem;
  color: var(--bg-secondary);
}

/*sixth section*/

#sixth-sect h3 {
  margin-top: 1.875rem;
  margin-bottom: 3.75rem;
  line-height: 2.1875rem;
}

#sixth-sect h1 {
  color: var(--bg-h1);
}

#sixth-sect p {
  margin-top: 2.5rem;
  margin-bottom: 2.1875rem;
}

#sixth-sect button {
  margin-bottom: 2.1875rem;
  padding: 1.5625rem 4.6875rem;
  border-radius: 2.5rem;
  color: var(--bg-secondary);
}

#sixth-sect i {
  font-size: 0.3125rem;
}

#sixth-sect a {
  text-decoration: underline;
}

/*
---------------
FOOTER
---------------
*/

footer {
  background-color: var(--bg-footer);
  color: white;
  padding: 2.5rem 0;
}

footer p:first-of-type {
  margin-bottom: 4.375rem;
}

footer a {
  text-decoration: underline;
  color: var(--bg-secondary);
}

/*
---------------
RESPONSIVE
---------------
*/

/*da 768px in poi*/
@media screen and (min-width: 768px) {
  /*commom*/
  .container {
    max-width: 745px;
  }

  h1 {
    font-size: 6rem;
  }

  h3 {
    font-size: 3rem;
  }

  /*first-sect*/
  #first-sect .container .w-66 {
    width: calc(((100% - 12.5px) / 3) * 2);
  }

  #first-sect .container .w-33 {
    width: calc((100% - 50px) / 3);
  }

  #phone-img {
    width: 50%;
  }

  /*third-sect*/
  #third-sect .box {
    flex-direction: row;
    text-align: left;
  }

  #third-sect .box > div:first-child {
    width: 85%;
  }

  #third-sect .box > div:last-child {
    padding-left: 1.25rem;
    line-height: 1.875rem;
  }

  #third-sect .circle-img {
    margin-bottom: 0;
  }

  /*fourth-sect*/
  #fourth-sect .box-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #fourth-sect .box-container .box {
    width: calc((100% - 30px) / 2);
  }

  /*fifth-sect*/
  #fifth-sect .container {
    display: flex;
    gap: 50px;
  }

  #fifth-sect .container > div:first-child {
    width: 60%;
  }

  #fifth-sect .container > div:last-child {
    width: 40%;
  }

  #fifth-sect .circle-img i {
    top: 0px;
    right: 5rem;
  }

  #fifth-sect .circle-img {
    margin-top: 0;
  }

  /*sixth-sect*/
  #sixth-sect .container {
    max-width: 565px;
  }

  /*footer*/
  footer .container {
    max-width: 420px;
  }
}

/*da 992px in poi*/
@media screen and (min-width: 992px) {
  /*common*/
  .container {
    max-width: 960px;
  }

  /*header*/
  header .nav-bar ul {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  #menu-symbol {
    display: none;
  }

  /*first-sect*/
  #first-sect .container .w-66 {
    display: flex;
  }

  .phone {
    align-self: flex-end;
  }

  #phone-img {
    width: 100%;
  }

  /*second-sect*/
  #second-sect .container {
    padding: 0 8.125rem;
    display: flex;
    gap: 65px;
  }

  #second-sect .container > div {
    width: 50%;
  }

  #second-sect .container > div:last-child {
    align-self: flex-end;
  }

  #second-sect h4 {
    margin-top: 7.5rem;
  }

  /*third-sect*/
  #third-sect .box > div:first-child {
    width: 45%;
  }

  /*fourth-sect*/
  #fourth-sect .box-container .box {
    width: calc((100% - 60px) / 3);
  }

  /*fifth-sect*/
  #fifth-sect .container > div:first-child {
    width: 70%;
  }

  #fifth-sect .container > div:last-child {
    width: 30%;
  }

  /*sixth-sect*/
  #sixth-sect .container {
    max-width: 570px;
  }
}

/*da 992px in poi*/
@media screen and (min-width: 1160px) {
  /*common*/
  .container {
    max-width: 1140px;
  }

  /*third-sect*/
  #third-sect .box > div:first-child {
    width: 30%;
  }

  /*fifth-sect*/
  #fifth-sect .circle-img i {
    top: 0px;
    right: 8.75rem;
  }
}
